.fontsize{
    font-size: 14px;
}

.fontsize1{
    font-size: 11px;
    color: red;
}

.fontsize2{
    font-size: 7px;
}

.width1{
    width: 350px;
}

.fontpercentage{
    font-size: 14px;
}

.width{
    width: 50%;
}

