<div class="h-11 flex text-black border-y-gray-400">
    <h3 (click)="changeStyleHo()" class="{{textColorHo}} w-28 text-center pt-2 {{bgColorHo}} cursor-pointer">Home</h3>
    <h3 (click)="changeStyleCa()" class="{{textColorCa}} w-64 text-center pt-2 {{bgColorCa}} cursor-pointer">Candidate Registration Form</h3>
    <a (click)="changeStyleHe()" class="{{textColorHe}} w-28 text-center pt-2 {{bgColorHe}} cursor-pointer">HelpDesk</a>
</div>
<div class="h-1 bg-gray-200"></div>

<router-outlet></router-outlet>
