<app-nav-one></app-nav-one>
<app-nav-two></app-nav-two>
<app-candidate-nav></app-candidate-nav>
<div class="ml-5 mr-5 mb-7 border-2 border-gray-100 rounded-md h-auto">
    <div class="mt-2 mb-2 ml-7 border-2 border-gray-200 rounded-md h-9 width pt-1 pl-3">
        <div class="flex">
            <h3 class="text-gray-400 fontsize">Registration Form Completeness</h3>
            <div class="h-4 w-96 bg-white border-2 rounded-md ml-10 mt-1">
                <div class="h-3 bg-green-700 rounded-md" [ngStyle]="{ 'width.%' : width}"></div>
            </div>
            <h3 class="fontpercentage font-semibold ml-3">{{width}}%</h3>
        </div>
        <!-- <mat-progress-bar mode="determinate" [value]="percentagevalue"></mat-progress-bar> -->
    </div>

    <div class="h-10 bg-blue-100 flex justify-between">
        <h3 class="fontsize text-black font-semibold pl-5 pt-2">Technical Skills</h3>
        <button type="button" (click)="AddSkill()" class="{{showButton}} h-8 w-24 fontsize font-semibold mt-1 mr-7 bg-blue-900 text-white rounded-md">Add Skill</button>
    </div>

    <div class="{{showTechnicalSkill}} border-2 border-gray-200 m-7">
        <table>
            <tr class="bg-blue-50">
                <th class="fontsize font-semibold py-2 px-3 w-auto">S.No</th>
                <th class="fontsize font-semibold py-2 px-3 w-96">Name of Certification</th>
                <th class="fontsize font-semibold py-2 px-3 w-64">Category</th>
                <th class="fontsize font-semibold py-2 px-3 w-64">Skills</th>
                <th class="fontsize font-semibold py-2 px-3 w-64">Name of Institute</th>
                <th class="fontsize font-semibold py-2 px-3 w-32">Course Duration</th>
                <th class="fontsize font-semibold py-2 px-3 w-16">Certification</th>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>


    <form #technicalskillform="ngForm" (ngSubmit)="storeTechnicalSkillForm(technicalskillform)">

        <div class="{{showCertification}} w-full">

            <div class="h-10 bg-blue-100 mt-10 mb-3">
                <h3 class="fontsize text-black font-semibold pl-5 pt-2">Technical Skill</h3>
            </div>

            <div class="ml-5 mr-5 flex">
                <div class="w-3/12">
                    <div class="pt-2">
                        <div class="flex">
                            <label class="fontsize font-semibold">Name of Certification</label>
                            <div class="w-1.5 h-1.5"><img src="assets/images/asteric.png"></div>
                        </div>
                        <input name="nameofCertification" type="text" required pattern="{{nameexpression}}"  placeholder="Ex - Core Java" class="w-80 border-2 fontsize font-bold border-gray-300 h-9 pl-3 rounded-md focus:outline-none" [(ngModel)]="skill.nameofCertification" #nameofCertification="ngModel">
                        <div *ngIf="nameofCertification.invalid && (nameofCertification.dirty || nameofCertification.touched)">
                            <div *ngIf="nameofCertification.errors?.['required']" class="text-red-500 fontsize font-semibold">This field is required !!!</div>
                            <div *ngIf="nameofCertification.errors?.['pattern']" class="text-red-500 fontsize font-semibold">Invalid Input !!!</div>
                        </div>
                    </div>
        
                    <div class="pt-2">
                        <div class="flex">
                            <label class="fontsize font-semibold">Category</label>
                            <div class="w-1.5 h-1.5"><img src="assets/images/asteric.png"></div>
                        </div>
                        <input name="category" required pattern="{{nameexpression}}" placeholder="Ex - Technical Language" class="w-80 border-2 fontsize font-semibold border-gray-300 h-9 pl-3 ml-0.5 rounded-md focus:outline-none" [(ngModel)]="skill.category" #category="ngModel">
                        <div *ngIf="category.invalid && (category.dirty || category.touched)">
                            <div *ngIf="category.errors?.['required']" class="text-red-500 fontsize font-semibold">This field is required !!!</div>
                            <div *ngIf="category.errors?.['pattern']" class="text-red-500 fontsize font-semibold">Invalid Input !!!</div>
                        </div>
                    </div>
                </div>
        
                <div>
                    <div class="pt-2 flex">
                        <div class="ml-5">
                            <div class="flex">
                                <label class="fontsize font-semibold">Technical Skill</label>
                                <div class="w-1.5 h-1.5"><img src="assets/images/asteric.png"></div>
                            </div>
                            <input name="technicalskills" type="text" required placeholder="Ex - Java" pattern="{{nameexpression}}" class="w-80 border-2 fontsize font-semibold border-gray-300 h-9 pl-3 rounded-md focus:outline-none" [(ngModel)]="skill.technicalskills" #technicalskills="ngModel">
                            <div *ngIf="technicalskills.invalid && (technicalskills.dirty || technicalskills.touched)">
                                <div *ngIf="technicalskills.errors?.['required']" class="text-red-500 fontsize font-semibold">This field is required !!!</div>
                                <div *ngIf="technicalskills.errors?.['pattern']" class="text-red-500 fontsize font-semibold">Invalid Input !!!</div>
                            </div>
                        </div>
        
                        <div class="ml-14">
                            <div class="flex">
                                <label class="fontsize font-semibold">Name of Institute</label>
                                <div class="w-1.5 h-1.5"><img src="assets/images/asteric.png"></div>
                            </div>
                            <input name="institute" type="text" placeholder="Ex - Internshala " required pattern="{{nameexpression}}" class="w-80 border-2 fontsize font-semibold border-gray-300 h-9 pl-3 ml-0.5 rounded-md focus:outline-none" [(ngModel)]="skill.institute" #institute="ngModel">
                            <div *ngIf="institute.invalid && (institute.dirty || institute.touched)">
                                <div *ngIf="institute.errors?.['required']" class="text-red-500 fontsize font-semibold">This field is required !!!</div>
                                <div *ngIf="institute.errors?.['pattern']" class="text-red-500 fontsize font-semibold">Invalid Input !!!</div>
                            </div>
                        </div>
        
                        <div class="ml-14">
                            <div class="flex">
                                <label class="fontsize font-semibold">Course Duration<small>(In Months)</small></label>
                                <div class="w-1.5 h-1.5"><img src="assets/images/asteric.png"></div>
                            </div>
                            <input name="duration" type="text" required placeholder="Ex - 4 Months" pattern="{{nameexpression}}" class="w-80 border-2 fontsize font-semibold border-gray-300 h-9 pl-3 ml-0.5 rounded-md focus:outline-none" [(ngModel)]="skill.duration" #duration="ngModel">
                            <div *ngIf="duration.invalid && (duration.dirty || duration.touched)">
                                <div *ngIf="duration.errors?.['required']" class="text-red-500 fontsize font-semibold">This field is required !!!</div>
                                <div *ngIf="duration.errors?.['pattern']" class="text-red-500 fontsize font-semibold">Invalid Input !!!</div>
                            </div>
                        </div>
                    </div>
        
                    <div class="pt-2 flex">
                        <div class="ml-5">
                            <div class="flex">
                                <label class="fontsize font-semibold">Do you have certification for the same?</label>
                                <div class="w-1.5 h-1.5"><img src="assets/images/asteric.png"></div>
                            </div>
                            <input name="certification" type="text" required placeholder="Ex - Yes or No" class="w-80 border-2 fontsize font-semibold border-gray-300 h-9 pl-3 rounded-md focus:outline-none" [(ngModel)]="skill.certification" #certification="ngModel">
                            <div *ngIf="certification.invalid && (certification.dirty || certification.touched)">
                                <div *ngIf="certification.errors?.['required']" class="text-red-500 fontsize font-semibold">This field is required !!!</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="{{showSaveCancelButton}}">
            <div class="mt-10 mb-10 flex ml-96 mr-96">
                <button [disabled]="technicalskillform.form.invalid" type="submit" class="bg-blue-900 w-14 h-7 text-center font-semibold text-white fontsize rounded-md ml-64">Save</button>
                <button type="button" (click)="resetTechnicalSkillForm(technicalskillform)" class="w-16 h-7 text-center text-blue-900 fontsize font-semibold rounded-md border-2 border-blue-900 ml-16">Cancel</button>
            </div>
        </div>

    </form>

</div>

