.fontsize{
    font-size: 14px;
}

.fontsize1{
    font-size: 11px;
    color: red;
}

.fontsize2{
    font-size: 7px;
}

.width1{
    width: 350px;
}

.fontpercentage{
    font-size: 14px;
}

.width{
    width: 50%;
}

.fontsizedocuments{
    font-size: 11px;
}

.fontincrease{
    font-size: 20px;
}

.widthnice{
    width: 50%;
}

.documentFont{
    font-size: 11px;
}

.widthdocument{
    width: 70%;
}

.textsize{
    font-size: 11px;
}