.fonthome{
    font-size: 25px;
}

.fontstatus{
    font-size: 20px;
}

.fontForm{
    font-size: 17px;
}

h6{
    font-size: 12px;
}

.fontNotification{
    font-size: 14px;
}

.borderWidth{
    border-width: 1px;
}

.widthTable{
    width: 972px;
}

.homesubheight{
    height: 430px;
}