<div class="ml-5 mr-5 mt-5 flex h-10 bg-gray-50 fontsize border-x-2 border-y-2 text-black rounded-md">
    <h3 (click)="navigateToPer()" class="pt-1.5 cursor-pointer text-center w-36" [ngClass]="{'text-blue-800 bg-blue-100 font-bold' : routeVar==='personal-details'}">Personal Details</h3>
    <h3 (click)="navigateToEdu()" class="pt-1.5 cursor-pointer text-center w-48" [ngClass]="{'text-blue-800 bg-blue-100 font-bold' : routeVar==='education-details'}">Education Details</h3>
    <h3 (click)="navigateToFam()" class="pt-1.5 cursor-pointer text-center w-48" [ngClass]="{'text-blue-800 bg-blue-100 font-bold' : routeVar==='family-details'}">Family Details</h3>
    <h3 (click)="navigateToWork()" class="pt-1.5 cursor-pointer text-center w-48" [ngClass]="{'text-blue-800 bg-blue-100 font-bold' : routeVar==='work-experience'}">Work Experience</h3>
    <h3 (click)="navigateToTech()" class="pt-1.5 cursor-pointer text-center w-48" [ngClass]="{'text-blue-800 bg-blue-100 font-bold' : routeVar==='technical-skills'}">Technical Skills</h3>
    <h3 (click)="navigateToLan()" class="pt-1.5 cursor-pointer text-center w-48" [ngClass]="{'text-blue-800 bg-blue-100 font-bold' : routeVar==='languages-known'}">Languages Known</h3>
    <h3 (click)="navigateToDoc()" class="pt-1.5 cursor-pointer text-center w-48" [ngClass]="{'text-blue-800 bg-blue-100 font-bold' : routeVar==='documents-upload'}">Documents Upload</h3>
    <h3 (click)="navigateToDec()" class="pt-1.5 cursor-pointer text-center w-52" [ngClass]="{'text-blue-800 bg-blue-100 font-bold' : routeVar==='declarations'}">Declarations and Disclaimers</h3>
</div>
