<div class="ml-5 mr-5 mt-5 flex h-10 bg-gray-50 fontsize border-x-2 border-y-2 text-black rounded-md">
    <h3 (click)="navigateToPer()" class="pt-1.5 pl-5 cursor-pointer">Personal Details</h3>
    <h3 (click)="navigateToEdu()" class="pt-1.5 pl-5 cursor-pointer">Education Details</h3>
    <h3 (click)="navigateToFam()" class="pt-1.5 pl-5 cursor-pointer">Family Details</h3>
    <h3 (click)="navigateToWork()" class="pt-1.5 pl-5 cursor-pointer">Work Experience</h3>
    <h3 (click)="navigateToTech()" class="pt-1.5 pl-5 cursor-pointer">Technical Skills</h3>
    <h3 (click)="navigateToLan()" class="pt-1.5 pl-5 cursor-pointer">Languages Known</h3>
    <h3 (click)="navigateToDoc()" class="pt-1.5 pl-5 cursor-pointer">Documents Upload</h3>
    <h3 (click)="navigateToDec()" class="pt-1.5 pl-5 cursor-pointer">Declarations and Disclaimers</h3>
</div>
